html{
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background : linear-gradient(to top, hsl(240, 73%, 65%) , hsl(273, 75%, 66%));
    background-repeat: no-repeat;
}

